<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <base href="<%= req.protocol + '://' + req.get('host') %>" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
    <meta name="description"
        content="MVS admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin panel with unlimited possibilities." />
    <meta name="keywords"
        content="admin panel, MVS admin panel, dashboard panel, flat admin panel, responsive admin panel, web app" />
    <meta name="author" content="MVS" />
    <title>Dashboard</title>
    <link rel="apple-touch-icon" href="app-assets/images/ico/apple-icon-120.png" />
    <link rel="shortcut icon" type="image/x-icon" href="app-assets/images/ico/favicon.ico" />

    <!-- BEGIN: Vendor CSS-->

    <link rel="stylesheet" type="text/css" href="app-assets/vendors/css/vendors.min.css" />
    <link rel="stylesheet" type="text/css" href="app-assets/vendors/css/tables/datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="app-assets/vendors/css/tables/datatable/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="app-assets/vendors/css/charts/apexcharts.css" />
    <link rel="stylesheet" type="text/css" href="app-assets/vendors/css/extensions/toastr.min.css" />
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="app-assets/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="app-assets/css/bootstrap-extended.css" />
    <link rel="stylesheet" type="text/css" href="app-assets/css/colors.css" />
    <link rel="stylesheet" type="text/css" href="app-assets/css/components.css" />
    <link rel="stylesheet" type="text/css" href="app-assets/css/themes/dark-layout.css" />
    <link rel="stylesheet" type="text/css" href="app-assets/css/themes/bordered-layout.css" />

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="app-assets/css/core/menu/menu-types/vertical-menu.css" />
    <link rel="stylesheet" type="text/css" href="app-assets/css/pages/dashboard-ecommerce.css" />
    <link rel="stylesheet" type="text/css" href="app-assets/css/plugins/charts/chart-apex.css" />
    <link rel="stylesheet" type="text/css" href="app-assets/css/plugins/extensions/ext-component-toastr.css" />
    <!-- END: Page CSS-->
    <% if(typeof css !== 'undefined'){ 
        css.forEach(function(s){ %>
        <link rel="stylesheet" type="text/css" href="<%= s %>"/>
      <% }); 
    }%>
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    <style>
        .select2-selection__arrow{
            display: none;
        }
    </style>
    <!-- END: Custom CSS-->
</head>
<!-- END: Head-->

<body class="vertical-layout vertical-menu-modern navbar-floating footer-static dark-layout" data-open="click"
    data-menu="vertical-menu-modern" data-col>
   

    <!-- BEGIN: Content-->
    <div class="">
        <div class="content-wrapper">
            <div class="content-body">
                <%- include(page, {data:data, req: req}); %>
            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- END: Footer-->

    <!-- BEGIN: Vendor JS-->
    <script src="app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

     <!-- BEGIN: Page Vendor JS-->
     <script src="../app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js"></script>
     <script src="../app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js"></script>
     <script src="../app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js"></script>
     <script src="../app-assets/vendors/js/tables/datatable/responsive.bootstrap4.js"></script>
     <script src="../app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js"></script>
     <!-- END: Page Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="app-assets/vendors/js/charts/apexcharts.min.js"></script>
    <script src="app-assets/vendors/js/extensions/toastr.min.js"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="app-assets/js/core/app-menu.js"></script>
    <script src="app-assets/js/core/app.js"></script>
    <!-- END: Theme JS-->
 <!-- END: Theme JS-->
 <script src="app-assets/js/core/vue.js"></script>
 <script src="app-assets/js/core/axios.js"></script>
    <% script.forEach(function(s){ %>
        <script src="<%= s %>"></script>
      <% }); %>

    <!-- END: Page JS-->

    <script>
        $(window).on("load", function () {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14,
                });
            }
        });
        
    </script>

</body>
<!-- END: Body-->

</html>