<section id="ajax-datatable">
    <div class="content-wrapper">
        <div class="content-header row"> </div>
        <div class="content-body">
            <section id="multilingual-datatable">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                    <div class="card-header border-bottom p-1">
                                        <div class="head-label">
                                            <h6 class="mb-0">User Management</h6>
                                        </div>
                                        <div class="dt-action-buttons text-right">
                                            <div class="dt-buttons d-inline-flex">
                                                <a href="/users/create" class="dt-button create-new btn btn-primary" tabindex="0"
                                                    aria-controls="DataTables_Table_0" type="button">
                                                    <span>
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                            width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            class="feather feather-plus mr-50 font-small-4">
                                                            <line x1="12" y1="5" x2="12" y2="19">
                                                            </line>
                                                            <line x1="5" y1="12" x2="19" y2="12">
                                                            </line>
                                                        </svg>Add New User
                                                    </span>
                                                </a>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="datatables-basic table dataTable no-footer dtr-column">
                                        <table class="dt-multilingual table" id="users-datatable">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Name</th>
                                                    <th>Username</th>
                                                    <th>Role</th>
                                                    <th>Created</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
    
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
</section>